template(name="chatterbox")
	.chatterbox
		.user-list
			| {{> userList}}
		.conversations
			| {{> conversations}}

template(name="userList")
	h4 Testing user list

template(name="conversations")
	each conversations
		| {{> conversation}}

template(name="conversation")
	.conversation
		p Test convo
		each messages
			| {{> message}}
